/** 颜色 */
$blue:#2882FA;
$blue-deeper:#6BC4FE;
$blue-lighter:#1BA4ED;
$blue-deep:#1250D0;
$green:#1BCA8C;
$white:#FFF;

/** 表格样式 */
$table-color:#d5f3ff;
$table-header-bg:#094c63;
$table-cell-bg:#082b3c;
$table-border-color:#0a2b3c;
$table-stripe-color:#083d4f;

$form-label-color:#d5f3ff;
$form-border-color:#0d909d;
$form-input-shadow:#0d909d;
